* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

header img {
    height: 100px;
    width: 100px;
    display: block;
}

/* NAVBAR */
a,
a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav li {
    list-style: none;
}

#icons {
    cursor: pointer;
    display: none;
}

nav {
    background-color: #e3524a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(0.7rem + 1.5vw);
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/*******/

@media (max-width: 360px) {

    * {
        font-family: Montserrat;
    }

    header {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        background-color: #e3524a;
    }

    #divUser {
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: 10px;
        font-family: Manrope;
    }

    header img {
        height: 70px;
        width: 70px;
    }

    header h2 {
        font-family: Manrope;
        font-size: 0.8em
    }

    body {
        background-color: #36b2d1;
        display: flex;
        flex-direction: column;
        height: 800px;
    }

    main h2 {
        font-family: Manrope;
        font-size: 0.95em;
    }

    .basket {
        text-align: center;
    }

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main h2 {
        text-align: center;
        margin: 10px;
    }

    main button {
        height: 50px;
        width: 150px;
        border-radius: 10px;
        background-color: #34EB52;
        margin: 10px;
    }

    .productDiv {
        display: flex;
        justify-content: center;
        height: 20px;
        gap: 10px;
        margin: 10px;
        font-size: 0.9rem;
    }

    .inputBasket {
        width: 40px;
        text-align: center;
    }

    /* NAVBAR BURGER */
    #icons {
        display: block;
    }

    #icons:before {
        content: url("../img/burger-bar.png");
    }

    nav ul {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #e3524a;
        width: 50%;
        text-align: center;
        transition: 0.30s;
    }

    nav li {
        padding: 3px;
        font-size: 0.7rem;
    }

    .active #icons:before {
        content: url("../img/fermer.png");
    }

    .active ul {
        right: 0%;
    }

    /******/

    /* FOOTER */
    .footer h2 {
        text-align: center;
    }

    .footer p {
        margin-left: 20px;
        padding-top: 5px
    }

    .footer {
        font-size: 0.8em;
        background-color: #e3524a;
        padding: 5px
    }

    /*****/
}